<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyoungmin.contact.persistence.HobbyDao">

	<select id="selectAll" resultType="ContactDto">
		SELECT * FROM tbl_hobbies where h_cuid = c_uid
	</select>

	
</mapper> 